# vim: set foldmarker=[[,]] foldlevel=0 foldmethod=marker spell:
# ------------------------------------------------------------------------------
# -> Project [[
# ------------------------------------------------------------------------------

project/*
!project/index.php

# ]]
# ------------------------------------------------------------------------------
# -> Log [[
# ------------------------------------------------------------------------------

log/*

# ]]
# ------------------------------------------------------------------------------
# -> Nginx [[
# ------------------------------------------------------------------------------

image/nginx/sites/*
!image/nginx/sites/default.conf

# ]]
# ------------------------------------------------------------------------------
