# vim: set foldmarker=[[,]] foldlevel=0 foldmethod=marker spell:
# ------------------------------------------------------------------------------
# -> 1. Project [[
# ------------------------------------------------------------------------------

project/*
!project/index.php

# ]]
# ------------------------------------------------------------------------------
# -> 2. Log [[
# ------------------------------------------------------------------------------

log/*

# ]]
# ------------------------------------------------------------------------------
# -> 3. Nginx [[
# ------------------------------------------------------------------------------

image/nginx/sites/*
!image/nginx/sites/default.conf

# ]]
# ------------------------------------------------------------------------------
