# vim: set foldmarker=[[,]] foldlevel=0 foldmethod=marker spell:
# ------------------------------------------------------------------------------
# -> Project [[
# ------------------------------------------------------------------------------

project/*
!project/index.php

# ]]
# ------------------------------------------------------------------------------
# -> Nginx [[
# ------------------------------------------------------------------------------

image/nginx/sites/*
!image/nginx/sites/php/php.conf
!image/nginx/sites/python/python.conf

# ]]
# ------------------------------------------------------------------------------
# -> Python [[
# ------------------------------------------------------------------------------

image/python/uwsgi/vassals/*

# ]]
# ------------------------------------------------------------------------------
