# vim: set foldmarker=[[,]] foldlevel=0 foldmethod=marker spell:
# ------------------------------------------------------------------------------
# -> 1. MySQL [[
# ------------------------------------------------------------------------------

[mysqld]

# ]]
# ------------------------------------------------------------------------------
